<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" /> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Poppins:wght@400;600&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Xadrez.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <header class="mt-0 p-0 text-center">
        <h1>CP 02 - Xadrez</h1>
    </header>
    <Routes />
    <script src="https://kit.fontawesome.com/47b6822a62.js" crossorigin="anonymous"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
